<div>
  <div class="col-lg-2">
    <center><img src="img/logoSena.png" class="logoSenaCes"></center>
  </div>
  <div class="col-lg-10">

    <div>
      <label class="labelNombre">Nombre Completo</label> <label class="labelNombreBD">NN</label>
      <img src="img/salir.png" class="btnSalir">
    </div>
    <div><center><label class="labelFechaCes">27/04/2017 13:20:54</label></center></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 panelform">
      <div class="panel panel-default foto" >
        <div class="panel-body">
          Aqui va la foto, pero no se como poner un cuadro solo para la foto
        </div>
      </div>
    </div>

    <div class="col-lg-6 panelform">

      <form class="form-horizontal formulario ">
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-7 control-label labelFechaCes">Ingresar Identificacion</label>
          <div class="col-lg-5">
            <input type="text" class="form-control colorTexbox" id="identificacion" placeholder="Ingresar Identificacion">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-lg-7 control-label labelFechaCes">Identificacion</label>
          <div class="col-lg-5">
            <input type="text" class="form-control colorTexbox" id="ident" placeholder="Identificacion">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-7 control-label labelFechaCes">Hora Entrada</label>
          <div class="col-lg-5">
            <input type="text" class="form-control colorTexbox" id="horaEntrada" placeholder="Hora Entrada">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-lg-7 control-label labelFechaCes">Hora Salida</label>
          <div class="col-lg-5">
            <input type="text" class="form-control colorTexbox" id="horaSalida" placeholder="Hora Salida">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-lg-7 control-label labelFechaCes">Ficha</label>
          <div class="col-lg-5">
            <input type="text" class="form-control colorTexbox" id="inputPassword3" placeholder="Ficha">
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-lg-7 control-label labelFechaCes">Registrar Equipo</label>
          <div class="col-lg-5">
            <input type="text" class="form-control colorTexbox" id="inputPassword3" placeholder="Registrar Equipo">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-offset-7 col-lg-5">
            <a href="#!/registrarEquipo" class="btn btn-default btn-block">Registrar equipo</a>
          </div>
        </div>

      </form>

    </div>

  </div>

</div>
