<div class="divuno col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="row"><img src="img/sena.png" class="imagen"></div>
    <div class="titulo">Centro de Tecnologias Agroindustriales</div>

    <div class="textocopyrigth">
        <p>Advertencia: Este programa está protegido  por  las  leyes de derecho  de  autor  y   otros   tratados   de   protección intelectual.  Queda totalmente prohibida la reproducción 
            y  distribución  parcial   o   total  de  este  producto  sin  la debida autorización de sus autores, está penalizada por la ley con severas sanciones penales y civiles. </p>
    </div>

    <!--<image class="imagen" src="img/sena.png"/>-->

</div>

<div class="divdos col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div>
        <div class="espacio">Instructores Asesores:<br>Julian A. Lasso F.</div>
    </div>
    <div class="espaciodiv">
        <div class="espacio"><p class="parrafo">Aprendices Desarrolladores:<br>Brandon E. Morales D.<br>Jesus A. Gonzalez A.<br>Jhon F. Sepulveda A.<br>
                Juan D.Rios B.<br>Kevin F. Hernandez N.<br>Maria V. Lopez B.<br></p>
        </div>
    </div>
    <div class="espaciodiv1">
        <div class="espacio"><p class="parrafo">Diseñadores:<br>Luis Albeiro Restrepo Micolta.<br>Robinson Alexander Zapata Santa.</p></div>
    </div>
</div>

<div class="divuno col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="espacio1"><p>Control Entrada Y Salida</p></div>
    <div class="espacio2"><p>Version 1.0</p></div>
    <div class="espacio2"><p>Todos los Derechos Reservados</p></div>
    <image class="casa" src="img/house.png">
</div>
