
 <div class='centrarLogin'>
            <img src="img/logoSena.png" alt="..." class="img-rounded logoSenaLogin">
            <form class='separarTitulo'>
                <div class="form-group subTitulos">
                    <label for="exampleInputEmail1">Usuario</label>
                    <input type="Text" class="form-control" id="usuario" placeholder="Usuario">
                </div>
                <div class="form-group subTitulos separarSubTitulo">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                </div>

                <button type="submit" class="btn btn-default centrarboton btn-block boton"><img src="img/123.png"></button>
            </form>
        </div>



