
<div class='centrarLogin'>
    <img src="img/logoSena.png" alt="..." class="img-rounded logoSenaNegro">
    <form class='separarTitulo'>
        <div class="form-group subTitulos">
            <label for="exampleInputEmail1">Usuario</label>
            <input type="Text" class="form-control colorTexbox" id="usuario" placeholder="Usuario">
        </div>
        <div class="form-group subTitulos separarSubTitulo">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control colorTexbox" id="exampleInputPassword1" placeholder="Contraseña">
        </div>
    </form>
</div>
<div>
   <a href="#!/ces"><center><img src="img/123.png" alt="..." class="img-rounded botonEntrar"></center></a>
</div>
<div class="botonCopyRigth">
    <button type="button" class="btn btn-default btn-block">© Todos Los derechos reservados</button>
</div>



