
    <div align="center" class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img src="img/sena.png" alt="logo" class="img-circle imagenlogo">
        </div>
        <div class="col-md-4">
          <h1 class="titulob"><strong>BIENVENIDO</strong></h1>
        </div>
      </div>
      <div class="espacior">
        <div class="row">
          <div class="col-md-3">
            <h3 class="text-center">Registro de Usuarios</h3>
            <a href=""><img align="center" src="img/user.png" alt="registro usuario" class="img-circle"></a>
          </div>
          <div class="col-md-3">
            <h3 class="text-center">Registro Personal</h3>
            <a href=""><img src="img/personal.png" alt="registro personal" class="img-circle"></a>
          </div>
          <div class="col-md-3">
            <h3 class="text-center">Reportes</h3>
            <a href=""><img src="img/reportes.png" alt="reportes" class="img-circle"></a>
          </div>
          <div class="col-md-3">
            <h3 class="text-center">Entrada y Salida</h3>
            <a href=""><img  src="img/entradays.png" alt="entrada y salida" class="img-circle"></a>
          </div>
        </div>
      </div>



      <div class="derechosr">
        <a href=""><button type="button" class="btn btn-lg">©Todos los Derechos Reservados</button></a>
      </div>
    </div>
 
