
<div class = "row">
  <div class ="col-lg-offset-2 col-lg-4">
    <div class = "Formulario">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-4 control-label ">Nombre</label>
          <div class="col-lg-8">
            <input type="text" class="form-control colorTexboxU" id="inputEmail3" placeholder="Nombre">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-4 control-label">Correo</label>
          <div class="col-lg-8">
            <input type="text" class="form-control colorTexboxU" id="inputEmail3" placeholder="Correo">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-lg-4 control-label">Rol</label>
          <div class="col-lg-8">
            <select class="form-control colorTexboxU">
              <option value="Administrador">Administrador</option>
              <option value="Invitado">Invitado</option>
            </select>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="col-lg-4">
    <div class = "Formulario">
      <form class="form-horizontal"> 
        <div class="form-group">
          <label for="inputPassword3" class="col-lg-4 control-label">Usuario</label>
          <div class="col-lg-8">
            <input type="text" class="form-control colorTexboxU" id="inputPassword3" placeholder="Usuario">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-lg-4 control-label">Contraseña</label>
          <div class="col-lg-8">
            <input type="password" class="form-control colorTexboxU" id="inputPassword3" placeholder="Contraseña">
          </div>
        </div>
        <div class="form-group text">
          <label for="inputPassword3" class="col-lg-4 control-label textconfirmar">Confirmar Contraseña</label>
          <div class="col-lg-8">
            <input type="password" class="form-control colorTexboxU" id="inputPassword3" placeholder="Confirmar Contraseña">
          </div>
        </div>


      </form>
    </div>
  </div>
</div>
<div class ="row">

  <div class="">
    <div class="col-lg-12 botonesaplicacion text-center">
      <span title="Nuevo" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      <span title="Guardar" class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
      <span title="Cancelar" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <span title="Editar" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      <span title="Eliminar" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </div>
  </div>
  <div  class="espaciotab">


  </div>
  <div class="container" >     

    <table class="table table-bordered table-condensed table-striped">
      <thead> 
        <tr>
          <th>Selecccionar</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Usuario</th>
          <th>Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div class="b b3">
      <div class="col-lg-offset-4 col-lg-4 text-center  pcopy">
        <a href="#!/copyRight"><button type="button" class="btn btn-lg btn-default">©Todos los Derechos Reservados</button></a>
      </div>


    </div>
  </div>


</div>