<form ng-submit="crudPersonal()" name="formulario">
  <div class="" >

    <div class=" col-lg-offset-1 col-lg-2">
      <div class="panel panel-default imagenpersonal" >
        <div class="panel-body">
          <img ngf-thumbnail="personal.foto" style="height: 280px; width: 95%">
          <!--Aqui va la foto-->
        </div>
      </div>
      <div class="botonesfoto">
        <button type="button" class="btn btn-default" ngf-select ng-model="personal.foto" name="foto" ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100" 
               >Seleccionar Foto</button>
        <br>
        <button type="button" class="btn btn-default botonfoto2" >Cancelar foto</button>
      </div>
    </div>

    <div class="col-lg-5 form-horizontal formulariopersonal">
      <div class="form-group ">
        <label for="nombre" class=" col-lg-5 control-label labelpersonal">Nombre</label>
        <div class="col-lg-6">
          <input ng-model="personal.nombre" type="text" class=" form-control colorformulario" id="nombre" placeholder="Ingresar Nombre" required>
        </div>
      </div>
      <div class="form-group anchura">
        <label for="identificacion" class=" col-lg-5 control-label labelpersonal">Identificacion</label>
        <div class="col-lg-6">
          <input ng-model="personal.identificacionP" type="text" class=" form-control colorformulario" id="idpersonal" placeholder="Ingresar Identificacion" required>
        </div>
      </div>  
      <div class="form-group anchura">
        <label for="nisAprendiz" class=" col-lg-5 control-label labelpersonal">Nis Aprendiz</label>
        <div class="col-lg-6">
          <input ng-model="personal.nis" type="text" class=" form-control colorformulario" id="nisaprendiz" placeholder="Ingresar Nis Aprendiz" required>
        </div>
      </div>  
      <div class="form-group anchura">
        <label for="cargo" class=" col-lg-5 control-label labelpersonal">Cargo</label>
        <div class="col-lg-4">
          <select ng-model="personal.cargo" class="form-control colorformulario" required>
            <option value="">Seleccione cargo</option>
            <option value="1">Funcionario</option>
            <option value="2">Instructor</option>
            <option value="3">Aprendiz</option>
            <option value="4">Otro</option>
          </select>
        </div>
      </div>
    </div>


    <div class="col-lg-4 form-horizontal formulariopersonal">
      <div class="form-group ">
        <label for="apellido" class=" col-lg-5 control-label labelpersonal">Apellido</label>
        <div class="col-lg-6">
          <input ng-model="personal.apellido" type="text" class=" form-control colorformulario" id="nombre" placeholder="Ingresar Apellido" required>
        </div>
      </div>
      <div class="form-group anchura">
        <label for="Genero" class=" col-lg-5 control-label labelFechaCes">Genero</label>
        <div class="col-lg-4">
          <!--        <input type="radio" ng-model="personal.genero" name="genero" value="1"> Femenino
                  <input type="radio" ng-model="personal.genero" name="genero" value="0"> Masculino-->
          <select ng-model="personal.genero" class="form-control colorformulario" required>
            <option value="">Seleccione genero</option>
            <option option="masculino">Masculino</option>
            <option option="femenino">Femenino</option>
          </select>
        </div>
      </div>
      <div class="form-group anchura">
        <label for="ficha" class=" col-lg-5 control-label labelpersonal">Ficha</label>
        <div class="col-lg-6">
          <input ng-model="personal.ficha" type="text" class=" form-control colorformulario" id="nisaprendiz" placeholder="Ingresar la Ficha" required>
        </div>
      </div>  

      <div class="form-group anchura">
        <label for="celularFamiliar" class=" col-lg-5 control-label labelpersonal">Celular Familiar</label>
        <div class="col-lg-6">
          <input ng-model="personal.celular_familia" type="text" class=" form-control colorformulario" id="Nombrefamiliar" placeholder="Ingresar Celular Familiar" ng-disabled="disabledCelularFamilia" required>        </div>
      </div>

      <div class="alert alert-success" ng-hide="success">Registro ingresado con éxito!!!</div>
      <div class="alert alert-warning" ng-hide="warning">OJO apito que algo anda mal!!!</div>
      <div class="alert alert-danger alert-dismissible" role="alert" ng-hide="danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="habilitar()"><span aria-hidden="true">&times;</span></button>
        Error En el Registro
      </div>
    </div>
  </div>
  <div class="">
    <div class="col-lg-12 botonesaplicacion text-center">
      <!--      <span title="Nuevo" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>-->
      <!--<button type="submit" title="Nuevo" class="glyphicon glyphicon-plus-sign"></button>-->
      <button type="submit" title="Guardar" class="glyphicon glyphicon-floppy-saved btncrud"></button>
      <!--<span title="Cancelar" class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
      <button  title="Cancelar" class="glyphicon glyphicon-remove btncrud"></button>
      <span title="Buscar" class="glyphicon glyphicon-search btncrud" aria-hidden="true" data-toggle="modal" data-target="#modalBuscar"></span>
      <!--<button  title="Buscar" class="glyphicon glyphicon-search btncrud" ></button>-->
      <!--<span title="Eliminar" class="glyphicon glyphicon-trash" aria-hidden="true"></span>-->
      <!--<button type="submit" title="Eliminar" class="glyphicon glyphicon-trash btncrud" ></button>-->
    </div>
  </div>
  <div  class="espaciotab">


  </div>
  <table class="table table-bordered table-condensed table-striped" ng-show="mostrarTabla">
    <thead> 
      <tr>
        <th>Foto</th>
        <th hidden>Id</th>
        <th>Identificacion</th>
        <th>NIS</th>
        <th>Cargo</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Genero</th>
        <th>Ficha</th>
        <th>Cel.Familiar</th>

        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in tablaP">
        <td>{{x.per_foto}}</td>
        <td hidden>{{ x.per_id}}</td>
        <td>{{ x.per_identificacion}}</td>
        <td>{{x.per_identificacion_aprendiz}}</td>
        <td>{{x.tip_tipo_persona}}</td>
        <td>{{x.per_nombre}}</td>
        <td>{{x.per_apellidos}}</td>
        <td>{{x.per_genero}}</td>
        <td>{{x.per_ficha}}</td>
        <td>{{x.per_celfamiliar}}</td>

        <td><span title="Editar" class="glyphicon glyphicon-edit" ng-click="editar(x)" data-toggle="modal" data-target="#modalEditar" aria-hidden="true"></span> 
          <span title="Eliminar" class="glyphicon glyphicon-trash" ng-click="eliminarP(x)"aria-hidden="true"></span></td>
    </tbody>
  </table>
</form>

<div class="">
  <div class="col-lg-offset-5 col-lg-2 botonCopyRigthPersonal">
    <button type="button" class="btn btn-group-sm btn-default btn-block  ">© Todos Los derechos reservados</button>
  </div>
</div>



<!--//MODAL EDITAR-->
<div class="modal fade" id="modalEditar" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title" id="myModalLabel" style="font-size: 20px; text-align: center">Editar Personal</h4>
      </div>
      <div class="modal-body">

        <!--        <input type="text"ng-model="mod_usuario">-->
        <form ng-submit="editar(x, false)">
          <!--          <div class="row">
                      <label for="inputPassword3" ng-model="modal.nombre" class="col-lg-12 control-label" style="text-align:center; font-size: 35px;">{{modtitulo}}</label>
                    </div>-->

          <div class="row" style="margin-top: 3px;">
            <label for="inputPassword3" class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Nombre</label>
            <div class="col-lg-7">
              <input ng-model="modal.nombre" type="text" class="form-control colorTexboxU" placeholder="Nombre">
            </div>
          </div>
          <div class="row" style="margin-top: 3px;">
            <label  class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Apellido</label>
            <div class="col-lg-7">
              <input ng-model="modal.apellido" type="text" class="form-control colorTexboxU" placeholder="Apellido">
            </div>
          </div>

          <div class="row" style="margin-top: 3px;">
            <label for="inputPassword3" class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Identificacion</label>
            <div class="col-lg-7">
              <input ng-model="modal.identificacionP" type="text" class="form-control colorTexboxU" placeholder="Identificacion">
            </div>
          </div>

          <div class="row" style="margin-top: 3px;">
            <label  class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Genero</label>
            <div class="col-lg-7">
              <select ng-model="modal.genero" class="form-control colorformulario" required>
                <!--<option value="">{{modal.genero}}</option>-->
                <option option="masculino">Masculino</option>
                <option option="femenino">Femenino</option>
              </select>
            </div>
          </div>

          <div class="row" style="margin-top: 3px;">
            <label for="inputPassword3" class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">NIS</label>
            <div class="col-lg-7">
              <input ng-model="modal.nis" type="text" class="form-control colorTexboxU" placeholder="NIS">
            </div>
          </div>

          <div class="row" style="margin-top: 3px;">
            <label  class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Ficha</label>
            <div class="col-lg-7">
              <input ng-model="modal.ficha" type="text" class="form-control colorTexboxU" placeholder="Ficha">
            </div>
          </div>

          <div class="row" style="margin-top: 3px;">
            <div class="form-group">
              <label  class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Cargo</label>
              <div class="col-lg-7">

                <select ng-model="modal.cargo" class="form-control colorformulario" required>
                  <!--<option value="">{{cargo}}</option>-->
                  <option option="1">aprendiz</option>
                  <option option="2">instructor</option>
                </select>

              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 3px;">
            <label class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Celular Familiar</label>
            <div class="col-lg-7">
              <input ng-model="modal.cel_familiar" type="text" class="form-control colorTexboxU" placeholder="Celular Familiar">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrarModal()">Cerrar</button>
            <button class="btn btn-primary" type="submit">Confirmar Editar</button>
          </div>
        </form>
        <!--        <div class="alert alert-success" role="alert" ng-show="modalact">{{mensajeactualizar}}</div>
                <div class="alert alert-warning" role="alert" ng-show="modalContraIncorrecta">{{mensajeactualizar}}</div>-->



      </div>

    </div>
  </div>
</div>



<!-- MODAL BUSCAR -->

<!-- Button trigger modal -->

<!-- Modal BUSCAR -->
<div class="modal fade" id="modalBuscar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        Digite la identificacion de la persona a buscar
        <input autofocus type="number" ng-model="textoBuscar">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="buscar()">Buscar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" id="modalEliminar" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash"></i>
          Eliminar esta Persona?</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" ng-show="contactoEliminado">
          <center>Persona Eliminada</center>
        </div>
        <center>
          <h4>¿Esta seguro?</h4>
          <p>Se va a eliminar esta Persona</p>
          <h3>{{nombre}}</h3>
        </center>
        <button ng-click="submitEliminarPersonal()" type="button" class="btn btn-danger btn-block btn-sm">Eliminar</button>
      </div>
    </div>
  </div>
</div>
