<form ng-submit="guardarEquipo()">
  <div class="">
    <div class ="col-lg-offset-2 col-lg-4">
      <div class = "Formulario">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-lg-4 control-label">Tipo</label>
            <div class="col-lg-8">
              <input type="text" only-alpha maxlength="40" minlength="2" ng-model="equipo.tipo" class="form-control" id="inputEmail3" maxLeght placeholder="Tipo" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-lg-4 control-label subtitulo">Cod. Barras</label>
            <div class="col-lg-8">
              <div class="col-lg-4 panelform">
                <div class="panel panel-default " >
                  <div class="panel-body">
                    cod.barra
                  </div>
                </div>
              </div>
              <input only-digits maxlength="50" minlength="1" type="text" ng-model="equipo.codbarra" class="form-control" id="inputPassword3" placeholder="Cod.Barra" required>

            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-lg-4 control-label">Serial</label>
            <div class="col-lg-8">
              <input  only-digits   maxlength="50" minlength="1" ng-model="equipo.serial" type="text" class="form-control" id="inputEmail3" placeholder="Serial" required>
            </div>
          </div>          
        </div>
      </div>

    </div>

    <div class="col-lg-4">
      <div class = "Formulario">
        <div class="form-horizontal"> 
          <div class="form-group">
            <label for="inputPassword3" class="col-lg-4 control-label">Marca</label>
            <div class="col-lg-8">
              <input only-alpha type="text" ng-model="equipo.marca" class="form-control" id="inputPassword3" placeholder="Marca">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-lg-4 control-label">Observaciones</label>
            <div class="col-lg-8">
              <textarea class="form-control textarea" ng-model="equipo.observaciones" rows="3" ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class ="">
    <div class="col-lg-12 botonesaplicacionregistroEquipo text-center">

      <button type="submit" title="Guardar" class="glyphicon glyphicon-floppy-saved btncrud"></button>
      <button type="submit" title="Cancelar" class="glyphicon glyphicon-remove btncrud"></button>
    </div>
</form>

<div class="btn-cesEquipo">
  <a href="#!/ces"><image class="home" src="img/house.png"></a> 
</div>