<form ng-submit="guardarUsuario()">
  <div class = "row">
    <div class ="col-lg-offset-2 col-lg-4">
      <div class = "Formulario">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="inputmail3" class="col-lg-4 control-label">Cedula</label>
            <div class="col-lg-8">
              <input ng-model="datosusu.cedula" type="number" class="form-control colorTexboxU" id="inputEmail3" placeholder="Cedula" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-lg-4 control-label ">Nombre</label>
            <div class="col-lg-8">
              <input ng-model="datosusu.nombre" type="text" class="form-control colorTexboxU" id="inputEmail3" placeholder="Nombre" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-lg-4 control-label">Correo</label>
            <div class="col-lg-8">
              <input ng-model="datosusu.correo" type="text" class="form-control colorTexboxU" id="inputEmail3" placeholder="Correo" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-lg-4 control-label">Rol</label>
            <div class="col-lg-8">
              <select ng-model="datosusu.rol" class="form-control colorTexboxU" required>
                <option value="Administrador">Administrador</option>
                <option value="Invitado">Invitado</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class = "Formulario">
        <div class="form-horizontal"> 
          <div class="form-group">
            <label for="inputPassword3" class="col-lg-4 control-label">Celular</label>
            <div class="col-lg-8">
              <input ng-model="datosusu.celular" type="number" class="form-control colorTexboxU" id="inputPassword3" placeholder="Celular" required >
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-lg-4 control-label">Usuario</label>
            <div class="col-lg-8">
              <input ng-model="datosusu.usuario" type="text" class="form-control colorTexboxU" id="inputPassword3" placeholder="Usuario" required >
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-lg-4 control-label">Contraseña</label>
            <div class="col-lg-8">
              <input ng-model="datosusu.contrasena" type="password" class="form-control colorTexboxU" id="inputPassword3" placeholder="Contraseña" required>
            </div>
          </div>
          <div class="form-group text">
            <label for="inputPassword3" class="col-lg-4 control-label textconfirmar">Confirmar Contraseña</label>
            <div class="col-lg-8">
              <input ng-model="datosusu.confpass" type="password" class="form-control colorTexboxU" id="inputPassword3" placeholder="Confirmar Contraseña" required>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class ="row">

    <div class="">
      <div class="col-lg-12 botonesaplicacion text-center">
        <!--        <span title="Nuevo" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>-->
        <!--        <span title="Guardar" class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>-->
        <button type="submit" class="glyphicon glyphicon-floppy-saved"></button>
        <span title="Cancelar" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <!--        <span title="Editar" class="glyphicon glyphicon-edit" aria-hidden="true"></span>-->
        <!--        <span title="Eliminar" class="glyphicon glyphicon-trash" aria-hidden="true"></span>-->
      </div>
    </div>
    <!--</form>-->
    <div  class="espaciotab">


    </div>
    <div class="alert alert-success alert-dismissible mensaje" role="alert" ng-show="usuarioGuardado">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Usuario Guardado
    </div>
    <!--    <div class="alert alert-success" ng-hide="success">Registro ingresado con éxito!!!</div>-->
    <div class="container" >     

      <table class="table table-bordered table-condensed table-striped">
        <thead> 
          <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Celular</th>
            <th>Usuario</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in tabla">
            <td>{{ x.usu_cedula}}</td>
            <td>{{x.usu_nombre}}</td>
            <td>{{x.usu_correo}}</td>
            <td>{{x.usu_celular}}</td>
            <td>{{x.usu_usuario}}</td>
            <td>{{x.rol_nombre}}</td>
            <td><span title="Editar" class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="modal" data-target="#myModal" ng-click="editar(x)"></span> 
              <span title="Eliminar" class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
        </tbody>
      </table>

      <div class="b b3">
        <div class="col-lg-offset-4 col-lg-4 text-center  pcopy">
          <a href="#!/copyRight"><button type="button" class="btn btn-lg btn-default">©Todos los Derechos Reservados</button></a>
        </div>


      </div>
    </div>


  </div>
</form>







<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title" id="myModalLabel" style="font-size: 20px; text-align: center">Editar Usuario</h4>
      </div>
      <div class="modal-body">

        <!--        <input type="text"ng-model="mod_usuario">-->
        <form>
          <div class="row">
            <label for="inputPassword3" ng-model="modal.usuario" class="col-lg-12 control-label" style="text-align:center; font-size: 35px;">{{modtitulo}}</label>
          </div>

          <div class="row" style="margin-top: 3px;">
            <label for="inputPassword3" class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Cedula</label>
            <div class="col-lg-7">
              <input ng-model="modal.cedula" type="number" class="form-control colorTexboxU" placeholder="Cedula">
            </div>
          </div>

          <div class="row" style="margin-top: 3px;">
            <label for="inputPassword3" class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Nombre</label>
            <div class="col-lg-7">
              <input ng-model="modal.nombre" type="text" class="form-control colorTexboxU" placeholder="Nombre">
            </div>
          </div>


          <div class="row" style="margin-top: 3px;">
            <label for="inputPassword3" class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Correo</label>
            <div class="col-lg-7">
              <input ng-model="modal.correo" type="email" class="form-control colorTexboxU" placeholder="Email">
            </div>
          </div>

          <div class="row" style="margin-top: 3px;">
            <label class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Celular</label>
            <div class="col-lg-7">
              <input ng-model="modal.celular" type="number" class="form-control colorTexboxU" placeholder="Celular">
            </div>
          </div>

          <div class="row" style="margin-top: 3px;">
            <div class="form-group">
              <label  class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Rol</label>
              <div class="col-lg-7">
                <select ng-model="modal.rol" class="form-control colorTexboxU" required>
                  <option value="Administrador">Administrador</option>
                  <option value="Invitado">Invitado</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 3px;">
            <label  class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Anterior Contraseña</label>
            <div class="col-lg-7">
              <input ng-model="modal.anteriorContra" type="password" class="form-control colorTexboxU" placeholder="Anterior Contraseña">
            </div>
          </div>

          <div class="row" style="margin-top: 3px;">
            <label  class="col-lg-5 control-label" style="text-align:center; font-size: 20px;">Nueva Contraseña</label>
            <div class="col-lg-7">
              <input ng-model="modal.contrasena" type="password" class="form-control colorTexboxU" placeholder="Nueva Contraseña">
            </div>
          </div>

          <div class="alert alert-success" role="alert" ng-show="modalact">{{mensajeactualizar}}</div>
          <div class="alert alert-warning" role="alert" ng-show="modalContraIncorrecta">{{mensajeactualizar}}</div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrarModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editar(x, false)">Confirmar Editar</button>
      </div>
    </div>
  </div>
</div>