<div class="" >
    <div class=" col-lg-offset-1 col-lg-2">
        <div class="panel panel-default imagenpersonal" >
            <div class="panel-body">
                Aqui va la foto
            </div>
        </div>
        <div class="botonesfoto">
            <button type="button" class="btn btn-default" >Subir foto</button>
            <br>
            <button type="button" class="btn btn-default botonfoto2" >Cancelar foto</button>
        </div>
    </div>

    <div class="col-lg-5 form-horizontal formulariopersonal">
        <div class="form-group ">
            <label for="nombre" class=" col-lg-5 control-label labelpersonal">Nombre</label>
            <div class="col-lg-6">
                <input type="text" class=" form-control colorformulario" id="nombre" placeholder="Ingresar Nombre">
            </div>
        </div>
        <div class="form-group anchura">
            <label for="identificacion" class=" col-lg-5 control-label labelpersonal">Identificacion</label>
            <div class="col-lg-6">
                <input type="text" class=" form-control colorformulario" id="idpersonal" placeholder="Ingresar Identificacion">
            </div>
        </div>  
        <div class="form-group anchura">
            <label for="nisAprendiz" class=" col-lg-5 control-label labelpersonal">Nis Aprendiz</label>
            <div class="col-lg-6">
                <input type="text" class=" form-control colorformulario" id="nisaprendiz" placeholder="Ingresar Nis Aprendiz">
            </div>
        </div>  
        <div class="form-group anchura">
            <label for="cargo" class=" col-lg-5 control-label labelpersonal">Cargo</label>
            <div class="col-lg-4">
                <select class="form-control colorformulario">
                    <option value="">Funcionario</option>
                    <option value="">Instructor</option>
                    <option value="">Otro</option>
                </select>
            </div>
        </div>
        <div class="form-group anchura">
            <label for="nombrefamiliar" class=" col-lg-5 control-label labelpersonal">Nombre Familiar</label>
            <div class="col-lg-6">
                <input type="text" class=" form-control colorformulario" id="Nombrefamiliar" placeholder="Ingresar Nombre Familiar">
            </div>
        </div>        
    </div>


    <div class="col-lg-4 form-horizontal formulariopersonal">
        <div class="form-group ">
            <label for="apellido" class=" col-lg-5 control-label labelpersonal">Apellido</label>
            <div class="col-lg-6">
                <input type="text" class=" form-control colorformulario" id="nombre" placeholder="Ingresar Apellido">
            </div>
        </div>
        <div class="form-group anchura">
            <label for="Genero" class=" col-lg-5 control-label labelFechaCes">Genero</label>
            <div class="col-lg-4">
                <select class="form-control colorformulario">
                    <option value="">Masculino</option>
                    <option value="">Femenino</option>
                </select>
            </div>
        </div>
        <div class="form-group anchura">
            <label for="ficha" class=" col-lg-5 control-label labelpersonal">Ficha</label>
            <div class="col-lg-6">
                <input type="text" class=" form-control colorformulario" id="nisaprendiz" placeholder="Ingresar la Ficha">
            </div>
        </div>  

        <div class="form-group anchura">
            <label for="celularFamiliar" class=" col-lg-5 control-label labelpersonal">Celular Familiar</label>
            <div class="col-lg-6">
                <input type="text" class=" form-control colorformulario" id="Nombrefamiliar" placeholder="Ingresar Celular Familiar">
            </div>
        </div>  
    </div>
</div>
<div class="">
    <div class="col-lg-12 botonesaplicacion text-center">
        <span title="Nuevo" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        <span title="Guardar" class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
        <span title="Cancelar" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span title="Editar" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span title="Eliminar" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </div>
</div>
<div class="">
    <div class="col-lg-offset-5 col-lg-2 botonCopyRigthPersonal">
        <button type="button" class="btn btn-group-sm btn-default btn-block  ">© Todos Los derechos reservados</button>
    </div>
</div>