 <div class="input-group">
                    <!--<input ng-model="contacto.foto" type="text" class=" form-control texformulario" id="foto" placeholder="Ingresar Foto" required>-->
					<span title="Seleccionar Foto" class="input-group-addon"><i class="glyphicon glyphicon-picture"></i>
					</span>
					<input type="hidden" ng-init="contacto.fotoNombre = contacto.foto" ng-model="contacto.fotoNombre">
					<input readonly ng-model="contacto.fotoNombre" type="text" class="form-control fontImput" aria-label="...">
					<span ng-click="imgs()" ngf-select ng-model="contacto.foto" name="inputFile" ngf-pattern="'image/*'"
						  ngf-accept="'image/*'" ngf-max-size="1MB" ngf-min-height="300" ngf-change='changeFoto($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)'
						  ngf-resize="{width: 300, height: 300}" class="input-group-addon"><i class="glyphicon glyphicon-file"></i>
					</span>
                </div>