<div class="container container-fluid" style="margin-top:30px;">
  <a href="#!/reportes"><img src="img/atras.png"></a>
  <br><br>
  <center><h1>Reporte por Identificacion</h1></center>

  <div  class="tabla reporte1" id="exportable">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>per_id</th>
          <th>Identificacion</th>
          <th>Identificacion Aprendiz</th>
          <th>tip_id</th>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Genero</th>
          <th>Ficha</th>
          <th>Celular de Familiar</th>
          <th>Registro de Entrada</th>
          <th>Registro de Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in tablaIden">
          <td>{{data.per_id}}</td>
          <td>{{data.per_identificacion}}</td>
          <td>{{data.per_identificacion_aprendiz}}</td>
          <td>{{data.tip_id}}</td>
          <td><img src="{{urlUploads + data.per_foto}}" class="img-responsive imagenfoto"></td>    
          <td>{{data.per_nombre}}</td>
          <td>{{data.per_apellidos}}</td>
          <td>{{data.per_genero}}</td>
          <td>{{data.per_ficha}}</td>
          <td>{{data.per_celfamiliar}}</td>
          <td>{{data.reg_per_entrada}}</td>
          <td>{{data.reg_per_salida}}</td>
        </tr>
      </tbody>
    </table>
  </div>
   <div  class="export">
    <button class="btn btn-link" ng-click="exportData()"><span class="glyphicon glyphicon-share"></span>Exportar a Excel</button>
  </div>
</div>

