<!--<?php
  header('Content-type: application/vnd.ms-excel');
  header("Content-Disposition: attachment; filename=Reporte_Total.xls");
  header("Pragma: no-cache");
  header("Expires: 0");
?>-->

<div class="container container-fluid" style="margin-top:30px;">
  <a href="#!/reportes"><img src="img/atras.png"></a>
  <center><h1>Reporte Total</h1></center>
  <div  class="tabla reporte1" id="exportable">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Identificacion</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Ficha</th>
          <th>Registro de Entrada</th>
          <th>Registro de Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in tablaTot">
          <td><img src="{{urlUploads + data.per_foto}}" class="img-responsive imagenfoto"></td>
          <td>{{data.per_identificacion}}</td>
          <td>{{data.per_nombre}}</td>
          <td>{{data.per_apellidos}}</td>
          <td>{{data.per_ficha}}</td>
          <td>{{data.reg_per_entrada}}</td>
          <td>{{data.reg_per_salida}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div  class="export">
    <button class="btn btn-link" ng-click="exportData()"><span class="glyphicon glyphicon-share"></span>Exportar a Excel</button>
  </div>
</div>
