
/*PARA TENER EN CUENTA:

-La primera letra de toda palabra es con minuscula
-Se separa por seccion todo lo que se va a hacer(si hay un css para todos se pone en el GENERAl)

*/
/*------------------------------------------LOGIN------------------------------------------*/

.logoSenaNegro{
  width: 100%; 
  height: 100%;
}
.centrarLogin{
  width: 250px;
  margin: 0 auto 0 auto; 
  margin-top: 80px;
}

.separarTitulo{
  margin-top: 100px;
}

.separarSubTitulo{
  margin-top: 45px;
}

.subTitulos{
  text-align: center;
  font-size: 23px;
}

.botonEntrar{
  margin: 0 auto 0 auto; 
  margin-top: 30px;
}

.botonCopyRigth{
  width: 250px;
  margin: 0 auto 0 auto; 
  margin-top: 180px;

}

.colorTexbox{
  border:2px solid #E69141;
}
/*------------------------------------------LOGIN------------------------------------------*/

/*------------------------------------------CES------------------------------------------*/
.logoSenaCes{
  width: 180px;
  height: 180px;
  margin-top: 30px;
}

.labelNombre{
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
  color: #E69141;
  font-family: sans-serif;
}
.labelNombreBD{
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
}

.labelFechaCes{
  text-align: center;
  font-size: 30px;
  padding-top: 0px;
}

.foto{
  width: 380px;
  height: 420px;
  margin: 0 auto 0 auto; 
  margin-top: 110px;
}

.formulario{
  margin: 0 auto 0 auto; 
  margin-top: 170px;
  margin-left: 0;
}

.form-horizontal .control-label {
  padding-top: 0px;
}
.form-control {
  height: 37px;
}
.panelform{
  padding-left: 0px;
  padding-right: 0px;
}

.btnSalir{
  position: absolute; top: 0; right: 0;
  width: 100px;
}
.botonRegistrarEquipo{
  margin-top: 80px;
}

.panelform2{
  height: 100%;
}
.alertas{
  margin-left: 85px; 
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}
/*------------------------------------------CES------------------------------------------*/

/*------------------------------------------CopyRight------------------------------------------*/
.titulo{
  text-align: center;
  font-family: Arial;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10%;
}
.imagen{
  width: 100%;
  height: 100%;


}
.divdos{
  background-color: #238276;
  height:100%;
  font-size: 2em;
  color: white;

}
.parrafo{
  color: white;
  font-family: Arial;
}
.espacio{
  margin-top: 70px;
  margin-bottom: 50px;
}
.espacio1{
  margin-left:  10px;
  margin-top: 60px;
  font-weight: 600;
  font-family: Arial;
  font-size: 2em;
}
.espacio2{
  margin-left:  10px;
  margin-bottom: 60px;
  font-weight: 600;
  margin-top: 250px;
  font-family: Arial;
  font-size: 2em;
}
.divuno{
  margin-top: 10px;
}
.casa{
  float: right;
  margin-top: 38%;
}

.textocopyrigth{
  margin-top: 100px;
  font-size: 20px;
}
.espaciodiv{
  margin-top: 200px;
}
.espaciodiv1{
  margin-top: 200px;
  margin-bottom: 120px;
}

/*------------------------------------------CopyRight------------------------------------------*/



/*------------------------------------------Formulario Principal------------------------------------------*/
.julian {
  height: 100vh;
}
.b1 {
  height: 45vh;
  padding: 3%;
}
.THijo {
  padding: 3%;
}
.b2 {
  height: 35vh;
}
.b3 {
  height: 20vh;
}
.imagenSenaMP{
  width: 300px;
}

.tituloBienvenido {
  font-size: 3em;
  color: #E69141;
}

.subtitulos{
  font-size: 2em;
  color: #E69141;
}
.imagenes{
  width: 150px;
}

.Pinfo{
  padding: 3%;
}

.pcopy{
  padding-top: 6%;
}

/*------------------------------------------GENERAL------------------------------------------*/
.logout{
  float: right;
  padding-top: 16%;
  /*  width: 350px;
    height: 350px;*/
}
/*------------------------------------------GENERAL------------------------------------------*/


/*------------------------------------------Formulario Principal------------------------------------------*/
/*------------------------------------------REgistro Equipo------------------------------------------*/
.Formulario{
  margin-top: 30%;
  font-size: 25px;

}
.texbox{
  border:2px solid #E69141
}
.botonesaplicacionregistroEquipo{
  margin-top: 40px;
  background-color: #00877E;
  border: 2px solid #000000;
  height: 200px;
  font-size: 6em;
  color: #ffffff;
  padding-top: 58px;
}
.botones{
  margin-top: 2%;
  width: 100px;    
}
.textarea{
  height:auto;
  height: 100px;
}
.subtitulo{
  margin-top: 35px;
}
.textarea{
  border:2px solid #E69141;
  resize: none;
}
/*------------------------------------------REgistro Equipo------------------------------------------*/

/*------------------------------------------Reportes------------------------------------------*/
.imgreportes{
  /*    width: 400px;
      height: 300px;*/
}

.subsReportes{
  padding: 2%;
  color: #E69141;
}

.headsReportes{
  padding: 20%;
  color: #E69141;
  padding-bottom: 0px;
}

.home{
  /*float: right;*/
  padding-left: 95%;
  padding-top: 10%;
}
.tabla{
  margin-top: 40px;
}
.export{
  /*float: right;*/
  padding-left: 85%;
  padding-top: 10%;
}
.copyrigth{
  padding-top: 80px;
}
/*------------------------------------------Reportes------------------------------------------*/

/*------------------------------------------REGISTRO PERSONAL------------------------------------------*/
.imagenpersonal{
  margin-top: 100px;
  height: 300px; 
}
.botonfoto2{
  margin-top: 5px;    
}
.formulariopersonal{
  margin-top: 100px;
}
.colorformulario{
  border:2px solid #E69141;
}
.anchura{
  margin-top: 45px;
}
.labelpersonal{
  font-size: 30px;

}
.btncrud{
  background-color: #00877E;
  border: 0px;
}
.botonesaplicacion{
  margin-top: 40px;
  background-color: #00877E;
  border: 2px solid #000000;
  height: 200px;
  font-size: 6em;
  color: #ffffff;
  padding-top: 58px;
}

.botonesaplicacion span {
  cursor: pointer;
}

.form-horizontal .control-label {
  text-align: left;
}


.botonCopyRigthPersonal{
  padding-top: 80px;

}
/*------------------------------------------REGISTRO Usuario------------------------------------------*/
.espaciotab
{
  padding-bottom:20em; 
}
.textconfirmar{
  font-size: 17px;
}
.colorTexboxU{
  border:2px solid #E69141;
}
.mensaje{
  margin-left: 40%;
  margin-right: 40%;
}
.botonesaplicacion1{
  margin-top: 40px;
  background-color: #00877E;
  border: 2px solid #000000;
  height: 200px;
  font-size: 6em;
  color: #ffffff;
  padding-top: 58px;
}
.btncrudUsuario{
  background-color: #00877E;
  border: 0px;
}
.btn-menuP{
  position: absolute; top: 93%; right: 5%;
}

